extends layout

block content
 form(action="" method="POST")
  p Nom d'utilisateur:  
  input(type="text" name="username" placeholder="Nom d'utilisateur")
  p Nom: 
  input(type="text" name="firstname" placeholder="Nom")
  p Prénom: 
  input(type="text" name="lastname" placeholder="Prénom" )
  p Email: 
  input(type="email" name="email" placeholder="Email")
  p Mot de passe: 
  input(type="password" name="password" placeholder="Mot de passe")
  p Confirmer le mot de passe: 
  input(type="password" name="passwordvalid" placeholder="Confirmer le mot de passe")
  br
  br
  input(type="submit")
  p(class="errormsg") #{errormsg} 