doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li 
          a(href="/") home
        li 
          a(href="/blank") blank
    block content
    