<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lesson 7 - Exercise 7</title>
  </head>
  <body>
    <!-- Component template -->
    <div id="app">
        <input type="text" v-model="source"/>
        <input type="number" v-model="offset"/>
        <input type="text" v-model="result"/>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script type="text/javascript" src="cesar.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
