ul li {
    background-color: #00FF00;
}
.submenu a {
    text-decoration: none;
}
aside h1 {
    font-size: 0.7em;
}
p.lorem span {
    font-weight: bold;
}
span[title]{
    font-style: italic;
}
p {
    text-align: justify
}
.title {
    text-align: center;
    color: red;
}