.section {
    background-color: blue;
}

li {
    display: inline;
}

#s1, #s2, #s3 {
    display: none;
}

#s1:target {
    display: flex;
}

#s2:target {
    display: flex;
}

#s3:target {
    display: flex;
}

li:hover {
    color:red;
    background-color: green;
    transition: 0.3s
}













