<!-- ## Etape 2
- Ajoutez une `section` sous le champ de recherche, avec un titre.
- Le titre contient : "Résultats de recherche pour ____" où ___ est le contenu du champ texte.  
- Le titre doit se mettre à jour en fonction de ce que vous tapez.

## Etape 3 : Recherche de GIF
- Créer un compte sur https://developers.giphy.com/ et générez une clé d'API
- En utilisant la documentation, faites une requête AJAX pour rechercher les GIFs.
- Insérez le résultat dans une propriété Vue.js pour l'afficher dans la page.
 -->

 <!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <title>Lesson 7 - Exercise 8</title>
   </head>
   <body>
     <!-- Component template -->
     <div id="app">
       <input type="text" v-model="monText">
       <button @click="reQuete()">Rechercher</button>
       <div>
         <div v-for="gif in monTablo">
           <img :src="gif.images.fixed_width.url">
         </div>
       </div>
     </div>
     <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
     <script type="text/javascript" src="script.js"></script>
   </body>
 </html>
 